.game-title {
    padding: 10px;
    margin-top: 50px;
    margin-left: 50px;
}

p {
    font-family: 'Lobster', cursive;
    font-size: 50px;
}

.rules-container {
    margin-top: 25px;
    margin-left: 50px;
}

.rules {
    line-height:2;
    font-family: 'Shadows Into Light', cursive;
    font-size: 18px;
}

.numberToMatch , .win-loss {
    font-family: 'Lobster', cursive;
    font-size: 18px;
    margin-top: 25px;
    margin-left: 50px;
}


.crystals {
margin-left: 50px;
margin-top: 25px;
}
#blueGem {
    height: 75px;
    opacity: 0.75;
}
#greenGem {
    height: 75px;
    opacity: 0.75;
}
#redGem {
    height: 75px;
    opacity: 0.75;
}
#yellowGem {
    height: 75px;
    opacity: 0.75;
}

h2 {
    font-family: 'Lobster', cursive;
    font-size: 18px;
    margin-top: 25px;
    margin-left: 50px;
}








body {
    background-image: url(../images/5782640-legend-zelda-breath-wild-hd-wallpapers.jpg)
}